<h2 ><%= current_user.name %>'s Profile</h2>
  <div>
    <h3>Hosted Events: <%= current_user.events.count %></h3>
    <ul>
      <% if current_user.events.empty? %>
        <p>User is not hosting</p>
      <% else %>
        <% current_user.events.each do |event| %>
          <li><%=link_to event.name, event_path(event) %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
