<table>
    <thead>
      <tr>
        <th>Host</th>
        <th>Description</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
       <% @events.each do |event| %>
	   <tr>
			<td> <%= event.creator.name %> </td>
            <td> <%= event.description %></td>
			<td> <%= event.event_date %></td>
		</tr>
		<% end %>
    </tbody>
  </table>