<table>
    <thead>
      <tr>
        <th>Host</th>
        <th>Event name</th>
        <th>Description</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @event.creator.name %></td>
        <td><%= @event.name %></td>
        <td><%= @event.description %></td>
        <td><%= @event.event_date %></td>
      </tr>
    </tbody>
  </table>
