<h1 class="pink-text darken-1">List of Attendees</h1>

<% attendee_list(@all_attendees).each do |attendee| %>
  <div class="collection">
    <div class="collection-item active">
      <%= attendee %>
    </div>
  </div>
<% end %>
